<aside class="info">
    <img src="/tennisfan.JPG" alt="Ali Arastehfard portrait">
    <div class="info-text">
        <h1>Ali Arastehfard</h1>
        <p>Applied Cryptography Researcher</p>
        <ul class="links">
            <li><a href="mailto:ali.arastehfard@uconn.edu">Email</a></li>
            <li><a href="https://github.com/aliarastehfard">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/aliarastehfard/">LinkedIn</a></li>
            <li><a href="https://scholar.google.com/citations?user=S38w4koAAAAJ&hl=en">Google Scholar</a></li>
            <li><a href="/resume.pdf" target="_blank" rel="noopener">Resume</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </div>
</aside>